@model Market.Models.AboutU

@{
    ViewBag.Title = "About";
}
<div class="about mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 style="text-align: center;">Haqqimizda</h1>
                <p>
                    Bakı şəhəri ərazisində fəaliyyət göstərən Supermarketlər şəbəkəsində satılan bütün endirimli
                    məhsullar barədə ən dolğun və ətraflı məlumatı Fursat.az vasitəsi ilə əldə edə bilərsiniz.
                    WEB səhifə vasitəsilə siz, bazarda mövcud olan məhsullar çeşidi barədə tam təsəvvür əldə edəcək, onları ad, qiymət və digər parametrlərə uyğun olaraq
                    sıralayaraq istədiyiniz siyahını yarada biləcəksiniz.Bu Füsət sizindir!
                    Bazarlıqdan öncə, fursat.az-a nəzər yetirməyi unutmayın :)
                </p>
            </div>
            <div class="col-md-6">
                <img style="object-fit: contain;" class="img-fluid" src="fhoto/IMG-20191119-WA0005.jpg">
            </div>
        </div>
    </div>
</div>


<div class="advanced mt-5" style="background-color: white;">
    <h1 style="text-align: center;">Əsas strategimız</h1>
    <div class="container">
        <div class="row pt-5 pb-5">
            <div class="col-md-4">
                <div class="serv text-center">
                    <div class="serv-icon text-center">
                        <img style="object-fit: contain;" class="img-fluid" src="fhoto/leadership.png">
                    </div>
                    <div class="serv-title">
                        <h5>Liderlik</h5>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="serv text-center">
                    <div class="serv-icon text-center">
                        <img style="object-fit: contain;" class="img-fluid" src="fhoto/lightbulb.png">
                    </div>
                    <div class="serv-title">
                        <h5>Faydalılıq</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="serv text-center">
                    <div class="serv-icon text-center">
                        <img style="object-fit: contain;" class="img-fluid" src="fhoto/process.png">
                    </div>
                    <div class="serv-title">
                        <h5>Peşəkarlılıq</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>